/* empty framework */

#top {
    width: 790px;
    height: 230px;
}

#middle {
    width: 790px;
    height: 80px;
}

#bottom {
    width: 790px;
    height: 80px;
}

/* internal divs */

#description {
    padding: 30px 20px 0 20px;
    margin: 0 0 10px 0;
    width: 750px; /* total = 790px */
    height: 190px; /* total = 230px */
}

div.option
{   float: left;
    padding: 0;
    margin: 0 0 0px 6px;
    width: 386px; /* total = 790px */
    height: 80px; /* total = 80px */
}

#go {
    float: right;
}