/* empty framework */

#top {
    width: 790px;
    height: 170px;
}

#bottom {
    width: 790px;
    height: 220px;
}

/* internal divs */

#description {
    padding: 20px 20px 0 20px;
    margin: 0 0 10px 0;
    width: 750px; /* total = 790px */
    height: 140px; /* total = 170px */
}

#bleft {
    padding: 0px;
    margin: 0px;
    width: 590px;
    height: 220px; /* width + m-right = 590px */
    float: left;
}

div.option {
    margin: 0px;
    padding: 0px;
    margin-bottom: 4px;
    margin-right: 4px;
    width: 192px;
    height: 40px;
    float: left;
}

#bright {
    width: 200px;
    height: 220px;
    float: right;
}

#time {
    margin: 0px;
    padding: 0px;
    width: 200px;
    height: 140px;
}