#top {
    width: 790px;
    height: 70px;
}

#middle {
    width: 790px;
    height: 230px;
}

#bottom {
    width: 790px;
    height: 70px;
}

#description {
    padding: 20px 20px 0 20px;
    margin: 0 0 10px 0;
    width: 750px; /* total = 790px */
    height: 40px; /* total = 80px */
}

#share_text {
    width: 590px;
    height: 70px;
    background: #F1F1F1;
}

#go,
#share_text {
    float: left;
}

p.trm {
    color: #3c8dde;
}

p.trw {
    color: #ffc0cb;
}

#middle > div.wrapper {
    width: 300px;
}

th, td {
    height: 40px;
    width: 100px;
    text-align: center;
}

td {
    border-top: 0.5px solid #F1F1F1;
}