/* empty framework */

#top {
    width: 790px;
    height: 270px;
}

#middle {
    width: 790px;
    height: 40px;
}

#bottom {
    width: 790px;
    height: 80px;
}

/* internal divs */

#description {
    padding: 30px 20px 0 20px;
    margin: 0 0 10px 0;
    width: 750px; /* total = 790px */
    height: 230px; /* total = 270px */
}

div.option
{   float: left;
    padding: 0;
    margin: 0 0 4px 5px;
    width: 152px; /* total = 790px */
    height: 40px; /* total = 40px */
}

#prev_question {
    float: left;
}

#next_question {
    float: right;
}

#next_question,
#prev_question {
    width: 200px;
    height: 80px;
}