{% extends 'common.html' %}

{% block css %}beg_order.css{% endblock %}

{% block title %}Порядок прохождения{% endblock %}

{% block script %}
    <script>
    var order = '';

    function update_options() {
        $('.option').each(function () {
            var div = $(this);
            var input = div.find('input');
            var id = input.attr('id');
            toggle_div(div, id == order);
            input.prop('checked', id == order);
        });
    }

    function update_next() {
        var enable_next = order != '';
        update_button($('#next'), true, enable_next);
    }

    function update_state() {
        update_options();
        update_next();
    }

    function toggle_button(event) {
        event.stopPropagation();
        order = event.data.id;
        update_state();
    }

    function init_option(div) {
        var input = div.find('input');
        var id = input.attr('id');
        input.on('click', {id: id}, toggle_button);
    }

    function lets_go() {
        set_parameter('selected_order', order);
        post_to_url('{{ site_url }}/go/')
    }

    $(function() {
        update_state();
        init_wrappers();
        init_options();

        $('#next').on('click', lets_go);
    });
    </script>
{% endblock %}


{% block body %}
    <div id='top'>
        <div id='description'>
            <p>
                Вам нужно будет ответить на вопросы сначала по одиночке, а потом в паре.
                При одиночных ответах только один человек должен находиться за компьютером.
            </p>
            <br/>
            <p>
                Итак, выберите порядок прохождения.
            </p>
        </div>
    </div>
    <div id='middle'>
        <div id='mleft' class='option'>
            <div class='wrapper'>
                <input type='radio' id='mw'>
                    <img src='{{ static_url }}media/user_m.png' height='40px'>
                    <img src='{{ static_url }}media/user_w.png' height='40px'>
                    <img src='{{ static_url }}media/user_mw.png' height='40px'>
                </input>
            </div>
        </div>
        <div id='mright'>
            <div class='wrapper' class='option'>
                <input type='radio' id='wm'>
                    <img src='{{ static_url }}media/user_w.png' height='40px'>
                    <img src='{{ static_url }}media/user_m.png' height='40px'>
                    <img src='{{ static_url }}media/user_mw.png' height='40px'>
                </input>
            </div>
        </div>
    </div>
    <div id='bottom'>
        <div id='go'>
            <button id='next' class='normal_text'>Приступить</button>
        </div>
    </div>
{% endblock %}

