{% extends 'common.html' %}

{% block css %}beg_tests.css{% endblock %}

{% block title %}Начало{% endblock %}

{% block script %}
    <script>
    var selected_tests = 0;
    var prev_selected = 0;

    var time = new Array();
    var ename = new Array();
    {% for test in tests %}
    time[{{ test.id }}] = {{ test.time }};
    ename[{{ test.id }}] = '{{ test.ename }}';
    {% endfor %}

    function time_estimate_as_int() {
        var time_needed = 0;

        $(':checkbox:checked').each(function () {
            var raw_id = $(this).attr('id');
            var number = raw_id[0, raw_id.length - 3];
            time_needed += time[parseInt(number)];
        });

        return time_needed;
    }

    function time_estimate_as_txt() {
        var time = parseInt(time_estimate_as_int());

        var hours = Math.floor(time / 60);
        var minutes = time % 60;

        var message = 'Займёт около ';

        if (hours > 0) {
            message += hours;
            message += ' ч.';
        }

        if (minutes > 0) {
            message += minutes;
            message += ' мин.';
        }

        return message;
    }

    function selected_names() {
        var names = '';
        var counter = 0;
        $(':checkbox:checked').each(function () {
            var raw_id = $(this).attr('id');
            var number = raw_id[0, raw_id.length - 3];
            if (counter++ > 0) {
                names += '_'
            }
            names += ename[parseInt(number)];
        });

        return names;
    }

    function update_time() {
        var time_div = $('#timei');

        if (selected_tests == 1 && prev_selected == 0) {
            time_div.show(600);
        }

        if (selected_tests == 0 && prev_selected == 1) {
            time_div.hide(600);
        }

        $('#textual_time').text(time_estimate_as_txt());
    }

    function update_next() {
        var enable_next = selected_tests > 0;
        update_button($('#next'), true, enable_next);
    }

    function update_state() {
        prev_selected = selected_tests;
        selected_tests = $(':checkbox:checked').size();

        update_time();
        update_next();
    }

    function lets_go() {
        set_parameter('selected_tests', selected_names());
        post_to_url('{{ site_url }}/')
    }

    $(function() {
        update_state();
        $('#timei').hide();
        $('#next').on('click', lets_go);
        $(':checkbox').on('click', update_state);
    });
    </script>
{% endblock %}

{% block body %}
    <div id='top'>
        <div id='description'>
            <p>
                Выберите дисциплины, в которых вы хотите определить степень
                влияния каждого на совместные решения.
            </p>
        </div>
    </div>
    <div id='bottom'>
        <div id='bleft'>
            {% for test in tests %}
            <div class='test'>
                <input type='checkbox' id='{{ test.id }}cb' /><label for='{{ test.id }}cb'>{{ test.rname  }}</label>
            </div>
            {% endfor %}
        </div>
        <div id='bright'>
            <div id='timee'>
                <div id='timei'>
                    <img src='{{ static_url }}media/time.png' height='60px'>
                    <p id='textual_time' ></p>
                </div>
            </div>
            <div id='go'>
                <button id='next' type='button'>Далее ></button>
            </div>
        </div>
    </div>
{% endblock %}
