{% extends 'common.html' %}

{% block css %}beg_order.css{% endblock %}

{% block title %}Порядок{% endblock %}

{% block script %}
    <script>
    var order = '';

    function update_options() {
        $('.option').each(function () {
            var div = $(this);
            var input = div.find('input');
            var id = input.attr('id');
            toggle_div(div, id == order);
            input.prop('checked', id == order);
        });
    }

    function update_next() {
        var enable_next = order != '';
        update_button($('#next'), true, enable_next);
    }

    function update_state() {
        update_options();
        update_next();
    }

    function toggle_button(event) {
        event.preventDefault();
        order = event.data.id;
        update_state();
    }

    function init_option(div) {
        var input = div.find('input');
        var id = input.attr('id');
        var subtree = div.find('*').add(div);
        subtree.on('click', {id: id}, toggle_button);
    }

    function lets_go() {
        set_parameter('selected_order', order);
        post_to_url('{{ site_url }}/go/')
    }

    $(function() {
        update_state();
        init_wrappers();
        init_options();

        $('#next').on('click', lets_go);
    });
    </script>
{% endblock %}


{% block body %}
    <div id='top'>
        <div id='description'>
            <p class='normal_text'>
                Итак, вы выбрали дисциплины. Вам предстоит трижды
                ответить на блок вопросов: сначала каждый из вас отвечает отдельно,
                а потом вы отвечаете вдвоём.
            </p>
            <br/>
            <p class='normal_text'>
                Для чистоты тестирования, не отвечающий партнёр должен уходить
                из-за компьютера во время одиночной сессии. Когда же вы
                отвечаете вдвоём, вы должны выбирать тот ответ, который вы даёте
                на данный вопрос как пара. Перед третим, совместным, этапом, можно
                сделать паузу.
            </p>
            <br/>
            <p class='normal_text'>
                Выберите порядок и начинайте тестирование.
            </p>
        </div>
    </div>
    <div id='middle'>
        <div class='option'>
            <div class='wrapper'>
                <input type='radio' id='mw'/>
                <label for='mw'>
                    <img src='{{ static_url }}media/user_m.png' height='40px'>
                    <img src='{{ static_url }}media/user_w.png' height='40px'>
                    <img src='{{ static_url }}media/user_mw.png' height='40px'>
                </label>
            </div>
        </div>
        <div class='option'>
            <div class='wrapper'>
                <input type='radio' id='wm'/>
                <label for='wm'>
                    <img src='{{ static_url }}media/user_w.png' height='40px'>
                    <img src='{{ static_url }}media/user_m.png' height='40px'>
                    <img src='{{ static_url }}media/user_mw.png' height='40px'>
                </label>
            </div>
        </div>
    </div>
    <div id='bottom'>
        <div id='go'>
            <button id='next' class='normal_text'>Начать</button>
        </div>
    </div>
{% endblock %}

