{% extends 'common.html' %}

{% block css %}beg_tests.css{% endblock %}

{% block title %}Начало{% endblock %}

{% block script %}
    <script>
    var selected_tests = 0;

    var time = new Array();
    var ename = new Array();
    var selected = new Array();
    {% for test in tests %}
    time[{{ test.id }}] = {{ test.time }};
    ename[{{ test.id }}] = '{{ test.ename }}';
    selected[{{ test.id }}] = false;
    {% endfor %}

    function time_estimate_as_int() {
        var time_needed = 0;

        for (var i = 0; i < time.length; i++) {
            if (selected[i]) {
                time_needed += time[i];
            }
        }

        return time_needed;
    }

    function time_estimate_as_txt() {
        var time = parseInt(time_estimate_as_int());

        var hours = Math.floor(time / 60);
        var minutes = time % 60;

        if (time == 0) {
            return '...';
        }

        var message = 'Займёт около ';

        if (hours > 0) {
            message += hours;
            message += ' ч.';
        }

        if (minutes > 0) {
            message += minutes;
            message += ' мин.';
        }

        return message;
    }

    function selected_names() {
        var names = '';
        var counter = 0;

        for (var i = 0; i < ename.length; i++) {
            if (selected[i]) {
                if (counter++ > 0) {
                    names += '_';
                }
                names += ename[i];
            }
        }

        return names;
    }

    function update_options() {
        for (var i = 0; i < selected.length; i++) {
            var radio = $('.option > .wrapper > #' + i + 'id');
            radio.prop('checked', selected[i]);
            var div = radio.parent().parent();
            toggle_div(div, selected[i]);
        }
    }

    function update_selected() {
        selected_tests = 0;
        for (var i = 0; i < selected.length; i++) {
            if (selected[i]) {
                selected_tests++;
            }
        }
    }

    function update_time() {
        update_selected();
        $('#textual_time').text(time_estimate_as_txt());
    }

    function update_next() {
        var enable_next = selected_tests > 0;
        update_button($('#next'), true, enable_next);
    }

    function update_state() {
        update_options();
        update_time();
        update_next();
    }

    function get_number(input) {
        var raw_id = input.attr('id');
        var number = raw_id[0, raw_id.length - 3];
        return parseInt(number);
    }

    function toggle_button(event) {
        event.stopPropagation();
        selected[event.data.id] = !selected[event.data.id];
        update_state();
    }

    function init_option(div) {
        var input = div.find('input');
        var id = get_number(input);
        input.on('click', {id: id}, toggle_button);
    }

    function lets_go() {
        set_parameter('selected_tests', selected_names());
        post_to_url('{{ site_url }}/')
    }

    $(function() {
        update_state();
        init_wrappers();
        init_options();

        $('#next').on('click', lets_go);
    });
    </script>
{% endblock %}

{% block body %}
    <div id='top'>
        <div id='description' class='strong_grey'>
            <p class='normal_text'>
                Выберите дисциплины, в которых вы хотите определить степень
                влияния каждого на совместные решения.
            </p>
        </div>
    </div>
    <div id='bottom'>
        <div id='bleft'>
            {% for test in tests %}
            <div class='option'>
                <div class='wrapper'>
                    <input type='checkbox' id='{{ test.id }}id' />
                    <label class='normal_text' for='{{ test.id }}id'>{{ test.rname }}</label>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id='bright'>
            <div id='time'>
                <div class='wrapper'>
                    <img src='{{ static_url }}media/time.png' height='45px'>
                    <p class='normal_text' id='textual_time'></p>
                </div>
            </div>
            <div id='go'>
                <button id='next' class='normal_text'>Далее</button>
            </div>
        </div>
    </div>
{% endblock %}
