{% extends 'common.html' %}

{% block css %}go_session.css{% endblock %}

{% block title %}Начало этапа{% endblock %}

{% block script %}
    <script>
    function lets_go() {
        var cs = get_parameter('current_state');
        set_parameter('current_state', cs + '_0');
        post_to_url('{{ site_url }}/go/');
    }

    $(function() {
        init_wrappers();
        $('#next').on('click', lets_go);
        update_button($('#next'), true, true);
    });
    </script>
{% endblock %}

{% block body %}
    <div id='top'>
        <div class='wrapper'>
            <img src='{{ static_url }}media/{{ user_picture }}' height='150px'>
        </div>
    </div>
    <div id='bottom'>
        <div id='go'>
            <button id='next' class='normal_text'>Начать</button>
        </div>
    </div>
{% endblock %}
